@charset "UTF-8";

/* TELAS PEQUENAS */
@media(max-width: 600px){

     #simbolo-logo{
       display: none;
    }

   nav {
    width: 70%;
}

#menu {
    position: fixed;
    height: 100vh;
    top: 0;
    left: -700px;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
    transition: left 0.3s ease-out;
    background-color: #f5f5f5;
    z-index: 4;
}

#menu figure{
    align-self: center;
}

#menu.active {
    left: 0;
}

#menu ul {
    width: 100%;
    flex-direction: column;
    margin-top: 0px;
    padding: 0;
}

#menu ul li {
    padding: 0px 0;
    width: 100%; 
}

#menu ul li a {
    display: block;
    width: 90%; 
    padding: 10px 0;
    text-align: left; 
    color: #751e27; 
    text-decoration: none;
    font-weight: 500;
}

#icone-menu {
    position: fixed;
    right: 25px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    z-index: 4;
}

#fechar-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    color: #751e27;
    cursor: pointer;
}

.linha {
    width: 30px;
}

.linha,
.linha-menor {
    display: block;
    height: 5px;
    border-radius: 15px;
    background-color: #B49465;
}

.linha-menor {
    width: 25px;
    margin-left: 5px;
}


    #bandeira{
        height: 300px;
      
    }


    #sobre{
        flex-direction: column-reverse;
        gap: 80px;
    }

    #conteudo-sobre{
    width: 80%;
    }

    #container-valores{
        flex-direction: column;
        gap: 30px;
    }

      .valor-txt{
         width: 80%;
        margin: 30px auto;
    }

     #container-valores > h2{
    font-size: 2em;
    width: 80%;
    text-align: center;
    
    }

    #linha-do-tempo {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        
      }

      .ponto-tempo {
        width: 80%;
        margin: auto;
        text-align: center;
      }

      #linha-horizontal {
        display: none;
      }
      
      #areas-sessao{
        margin-top:  100px;
  
    }

      #areas-sessao h2{
        font-size: 2em;
    }

    #sessao-servicos{
        padding-top: 0;
    }

    #sessao-servicos h2{
    font-size: 2em;
    }


    /*PÁGINA ÁREAS ATUAÇÕES */

    #container-atuacoes{
     width: 80%;
     margin: auto;
    }

     /* PÁGINA SOBRE */

    #introducao-quem-somos{
    padding: 150px 0;
    flex-direction: column;
    width: 100%;
  
    
    }

    #conteudo-introducao{
    flex-direction: column;
    gap: 50px;
    width: 80%;
    }

    #conteudo-introducao{
    width: 80%;

    }

    #txt-introducao h2{
        text-align: justify;
    }

    #container-formacoes{
        width: 100%;
        align-items: center;
    }

    .container-conteudo{
        width: 90%;
        margin: auto;
    }

    .container-conteudo ul{
        width: 0%;
        margin: auto;
    }

    #aperfeicoamento{
        width: 90%;
        margin: auto;
    }

    #aperfeicoamento p{
        width: 100%;
}

      /* PÁGINA CONTATO */
 
    #sessao-contato{
        flex-direction: column;
        gap: 50px;
        margin: 80px auto;
    }
    #sessao-contato h1{
    font-size: 2em;
    }

   


 
}

/* TABLET */
@media(min-width: 601px) and (max-width:768px){

     #simbolo-logo{
       display: none;
    }

 nav {
    width: 70%;
}

#menu {
    position: fixed;
    height: 100vh;
    top: 0;
    left: -700px;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
    transition: left 0.3s ease-out;
    background-color: #f5f5f5;
    z-index: 4;
}

#menu figure{
    align-self: center;
}

#menu.active {
    left: 0;
}

#menu ul {
    width: 100%;
    flex-direction: column;
    margin-top: 0px;
    padding: 0;
}

#menu ul li {
    padding: 0px 0;
    width: 100%; 
}

#menu ul li a {
    display: block;
    width: 40%; 
    padding: 10px 0;
    text-align: left; 
    color: #751e27; 
    text-decoration: none;
    font-weight: 500;
}

#icone-menu {
    position: fixed;
    right: 25px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    z-index: 4;
}

#fechar-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    color: #751e27;
    cursor: pointer;
}

.linha {
    width: 30px;
}

.linha,
.linha-menor {
    display: block;
    height: 5px;
    border-radius: 15px;
    background-color: #B49465;
}

.linha-menor {
    width: 25px;
    margin-left: 5px;
}

     #bandeira{
        height: 700px;
    }

     @keyframes zoomBandeira {
    0% {
        background-size: 150%;
    }
    50% {
        background-size: 170%;
    }
    100% {
        background-size: 150%;
    }
    }

    #sobre{
        flex-direction: column-reverse;
        gap: 80px;
    }

    #conteudo-sobre{
    width: 80%;
    }


     #container-valores{
        flex-direction: column;
        gap: 30px;
    }

    .valor-txt{
         width: 80%;
        margin: 30px auto;
    }

    #container-valores > h2{
    font-size: 2em;
    width: 80%;
    text-align: center;
    
    }

    #linha-do-tempo {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 3.5rem;
        width: 80%;

    }

    .ponto-tempo {
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    #linha-horizontal {
        display: none;
    }

    #areas-sessao h2{
    font-size: 2em;
    margin-top: 0;
 
    }

    #sessao-servicos h2{
    font-size: 2em;
    }

    /*PÁGINA ÁREAS ATUAÇÕES */

    #container-atuacoes{
     width: 80%;
     margin: auto;
    }

     /* PÁGINA SOBRE */

   #introducao-quem-somos{
    padding: 150px 0;
    flex-direction: column;
    
    }

    #conteudo-introducao{
    flex-direction: column;
    gap: 50px;
    width: 80%;
    }

    #conteudo-introducao{
    width: 80%;
    }

    #container-formacoes{
        width: 90%;
        align-items: center;
    }

     .container-conteudo{
        width:100%;
        margin: auto;
    }

    .container-conteudo ul{
        width: 0%;
        margin: auto;
    }

    #aperfeicoamento{
      width: 90%;
      margin: auto;
      
    }

    #aperfeicoamento p{
        width: 100%;
}

    /* PÁGINA CONTATO */
 
    #sessao-contato{
        flex-direction: column;
        gap: 50px;
        margin: 80px auto;
    }
    #sessao-contato h1{
    font-size: 2em;
    }




    
}

/* DESKTOP */
@media(min-width:769px) and (max-width:992px){
    header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
    }

    nav {
        width: 80%;
        margin: auto;
        padding: 20px 0;
    }

    nav ul li a {
        color: white;
    }

    #icone-menu {
        display: none; /* Esconde o botão hamburguer no desktop */
    }

    #logo-original {
        display: none;
    }

    #simbolo-logo {
        display: block;
    }

    #fechar-menu {
        display: none;}
  

    #bandeira{
        height: 800px;
    }

     @keyframes zoomBandeira {
    0% {
        background-size: 140%;
    }
    50% {
        background-size: 170%;
    }
    100% {
        background-size: 140%;
    }
    }

    #sobre{
    max-width: 80%;
   
    }


    #conteudo-sobre{
    width: 40%;
    }

    #container-valores > h2{
    font-size: 4em;
    width: 30%;
    
    }   

    #container-valores{ 
        flex-direction: row-reverse;
        flex-direction: column;
        gap: 30px;
    }

      .valor-txt{
         width: 80%;
        margin: 30px auto;
    }

    #container-valores > h2{
    font-size: 3em;
    width: 80%;
    text-align: center;
    }

    #linha-do-tempo {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 3.5rem;
    max-width: 90%;
    }

  .ponto-tempo {
    width: 100%;
    max-width: 500px;
  }

  .ponto-tempo p {
    flex-grow: 1; 
    }

   #areas-sessao h2{
    font-size: 2em;
 
    }

    #sessao-servicos h2{
    font-size: 2.5em;
    }

    /*PÁGINA ÁREAS ATUAÇÕES */

    #container-atuacoes{
     width: 80%;
     margin: auto;
    }

     /* PAGINA SOBRE */
    #introducao-quem-somos{
    padding: 200px 0;
    }

     #conteudo-introducao{
    width: 50%;
    }

    #txt-introducao{
        width: 80%;
    }


    #container-formacoes, #container-conteudo{
        width: 50%;
        margin: auto;
    }

      /* PÁGINA CONTATO */

    #sessao-contato{
        margin: 150px auto;
    }

    #sessao-contato h1{
    font-size: 3em;
    }

    #container-form, #txt-contato{
    width: 40%;
    }


    


   
}

/* TELAS GRANDES */
@media(min-width:993px){
     header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  

  nav {
    width: 80%;
    margin: auto;
    padding: 20px 0;
  }

  nav ul li a {
    color: white;
  }

  #icone-menu {
    display: none; /* Esconde o botão hamburguer no desktop */
  }

  #logo-original {
    display: none;
  }

  #simbolo-logo {
    display: block;
  }

  #fechar-menu {
    display: none;
  }


    #bandeira{
        height: 1000px;
        background-attachment: fixed;
        
    }

    @keyframes zoomBandeira {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
    }

    #sobre{
        padding: 80px;
        max-width: 1600px;
    }

    #conteudo-sobre{
    width: 40%;
    }

    #container-valores{
        flex-direction: row-reverse;
    }

    .valor-txt{
    width: 400px;
    margin: 30px auto;
    }

    #container-valores > h2{
    font-size: 4em;
    width: 35%;
    }

    #linha-do-tempo {
    padding-top: 3.5rem;
    max-width: 90%;
    }

    .ponto-tempo{
        padding: 1.5rem;
    }
    
    .ponto-tempo p {
    flex-grow: 1; 
    }

    #areas-sessao h2{
    font-size: 2.5em;
    }

    #sessao-servicos h2{
    font-size: 2.5em;
    }

   
    

    /* PÁGINA SOBRE */

    #introducao-quem-somos{
    padding: 150px 0 0;

    }

      #conteudo-introducao{
    width: 50%;
    }

    #txt-introducao{
        width: 60%;
    }


    #container-formacoes, #container-conteudo{
        width: 50%;
        margin: auto;
    }

    /* PÁGINA CONTATO */

    #sessao-contato{
        margin: 150px auto;
    }

    #sessao-contato h1{
    font-size: 4em;
    }

    #container-form, #txt-contato{
    width: 40%;
    }

    




@media(min-width:1778px){
    .oculto{
    display: none;
}
}
}

@media(min-width:990px) and (max-width: 1280px){
     @keyframes zoomBandeira {
    0% {
        background-size: 130%;
    }
    50% {
        background-size: 140%;
    }
    100% {
        background-size: 130%;
    }
    }
}

@media(min-width:990px) and (max-width: 1660px){
    #linha-do-tempo{
        max-width:90%;
        gap: 50px 200px;
    }
}

@media(min-width:993px) and (max-width: 1503px){
     #container-valores > h2{
    font-size: 3em;

    
    }

}

@media(max-width:770px){

   /* PÁGINA ATUAÇÕES */

    #container-atuacoes{
    padding: 0px 0 50px;
    }
    aside {
    margin: 0px auto;
    padding: 80px 0 0;
    width: 80%;
}
}

@media(min-width:771px) and (max-width:1360px){

   /* PÁGINA ATUAÇÕES */

    #container-atuacoes{
    padding: 0px 0 50px;
    }
    aside {
    margin: 0px auto;
    padding: 160px 0 0;
    width: 80%;

    
    
}
}

@media(min-width:992px) and (max-width: 1360px){
   #container-atuacoes{
     width: 80%;
     margin: auto;
    }}


@media(min-width:1361px){
    aside {
    position: fixed;
    z-index: 1; 
    left: 6%;
    top: 20%;
    width: 300px;

    }


     /*PÁGINA ÁREAS ATUAÇÕES */

    #container-atuacoes{
     width: 50%;
     margin: auto; 
     padding: 150px 0 50px;
    }
    }


