@charset "UTF-8";

/* TELAS PEQUENAS */
@media(max-width: 600px){

     #simbolo-logo{
       display: none;
    }

    nav{
        width: 50%;
    }

     #menu{
        position: fixed;
        height: 100vh;
        left: -700px;
        padding: 240px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: left 0.3s ease-out;
        background-color: #f5f5f5;
        z-index: 4;
    }

    #menu.active{
        left: 0;
    }

    #menu ul{
        flex-direction: column;
        
    }
    #menu ul li{
        padding: 10px;
    }
    #icone-menu{
        position: fixed;
        right: 25px;
        top: 50px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        cursor: pointer;
        z-index: 4;
    }

    #fechar-menu{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.8em;
        background-color: transparent;
        border: none;
        color: #751e27;
        cursor: pointer;
    }
    
    .linha{
        width: 30px;
    }
    
    .linha, .linha-menor{
        display: block;
        height: 5px;
        border-radius: 15px;
        background-color:#B49465 ;

    }
    
    .linha-menor{
        width: 25px;
        margin-left: 5px;
    }

    #bandeira{
        height: 400px;
      
    }


    #sobre{
        flex-direction: column-reverse;
        gap: 80px;
    }

    #conteudo-sobre{
    width: 60%;
    }

    #container-valores{
        flex-direction: column;
        gap: 30px;
    }

    .valor-txt{
    width: 300px;
    }

     #container-valores > h2{
    font-size: 2em;
    width: 80%;
    text-align: center;
    
    }

    #linha-do-tempo {
        flex-direction: column;
        align-items: center;
        gap: 50px;
      }

      .ponto-tempo {
        width: 100%;
        max-width: 600px;
        text-align: center;
      }

      #linha-horizontal {
        display: none;
      }
      
      #areas-sessao{
        margin-top:  100px;
  
    }

      #areas-sessao h2{
        font-size: 2em;
        margin-top: 80px;
    }

    #sessao-servicos{
        padding-top: 0;
    }

    #sessao-servicos h2{
    font-size: 2em;
    }


     /* PÁGINA SOBRE */

    #introducao-quem-somos{
    padding: 150px 0;
    }

    #conteudo-introducao{
    flex-direction: column;
    gap: 50px;
    }

    #conteudo-introducao #txt-introducao{
    width: 80%;

    }

}

/* TABLET */
@media(min-width: 601px) and (max-width:768px){

     #simbolo-logo{
       display: none;
    }


    nav{
        width: 50%;
    }

    #menu{
        position: fixed;
        height: 100vh;
        left: -700px;
        padding: 240px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: left 0.3s ease-out;
        background-color: #f5f5f5;
        z-index: 4;
    }

    #menu.active{
        left: 0;
    }

    #menu ul{
        flex-direction: column;
        
    }
    #menu ul li{
        padding: 10px;
    }
    #icone-menu{
        position: fixed;
        right: 25px;
        top: 50px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        cursor: pointer;
        z-index: 4;
    }

    #fechar-menu{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.8em;
        background-color: transparent;
        border: none;
        color: #751e27;
        cursor: pointer;
    }
    
    .linha{
        width: 30px;
    }
    
    .linha, .linha-menor{
        display: block;
        height: 5px;
        border-radius: 15px;
        background-color: #B49465;

    }
    
    .linha-menor{
        width: 25px;
        margin-left: 5px;
    }

     #bandeira{
        height: 700px;
    }

     @keyframes zoomBandeira {
    0% {
        background-size: 150%;
    }
    50% {
        background-size: 170%;
    }
    100% {
        background-size: 150%;
    }
    }

    #sobre{
        flex-direction: column-reverse;
        gap: 80px;
    }

    #conteudo-sobre{
    width: 60%;
    }


     #container-valores{
        flex-direction: column;
        gap: 30px;
    }

    .valor-txt{
    width: 400px;
    }

    #container-valores > h2{
    font-size: 2em;
    width: 80%;
    text-align: center;
    
    }

    #linha-do-tempo {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .ponto-tempo {
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    #linha-horizontal {
        display: none;
    }

    #areas-sessao h2{
    font-size: 2em;
 
    }

    #sessao-servicos h2{
    font-size: 2em;
    }

     /* PÁGINA SOBRE */

    #introducao-quem-somos{
    padding: 150px 0;
    }

    #conteudo-introducao{
    flex-direction: column;
    gap: 50px;
    }

    #conteudo-introducao #txt-introducao{
    width: 80%;

    }
    
}

/* DESKTOP */
@media(min-width:769px) and (max-width:992px){
    header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
    }

    nav {
        width: 80%;
        margin: auto;
        padding: 20px 0;
    }

    nav ul li a {
        color: white;
    }

    #icone-menu {
        display: none; /* Esconde o botão hamburguer no desktop */
    }

    #logo-original {
        display: none;
    }

    #simbolo-logo {
        display: block;
    }

    #fechar-menu {
        display: none;}
  

    #bandeira{
        height: 800px;
    }

     @keyframes zoomBandeira {
    0% {
        background-size: 140%;
    }
    50% {
        background-size: 170%;
    }
    100% {
        background-size: 140%;
    }
    }

     #container-valores{
        flex-direction: row-reverse;
    }

    #conteudo-sobre{
    width: 40%;
    }

    #container-valores > h2{
    font-size: 4em;
    width: 30%;
    
    }   

    #container-valores{
        flex-direction: column;
        gap: 30px;
    }

    .valor-txt{
    width: 500px;
    }

    #container-valores > h2{
    font-size: 3em;
    width: 80%;
    text-align: center;
    }

    #linha-do-tempo {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .ponto-tempo {
    width: 100%;
    max-width: 500px;
  }

  .ponto-tempo p {
    flex-grow: 1; 
    }

   #areas-sessao h2{
    font-size: 2em;
 
    }

    #sessao-servicos h2{
    font-size: 2.5em;
    }

     /* PAGINA SOBRE */
    #introducao-quem-somos{
    padding: 200px 0;
    }

     #conteudo-introducao #txt-introducao{
    width: 50%;

    }

   
}

/* TELAS GRANDES */
@media(min-width:993px){
     header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  

  nav {
    width: 80%;
    margin: auto;
    padding: 20px 0;
  }

  nav ul li a {
    color: white;
  }

  #icone-menu {
    display: none; /* Esconde o botão hamburguer no desktop */
  }

  #logo-original {
    display: none;
  }

  #simbolo-logo {
    display: block;
  }

  #fechar-menu {
    display: none;
  }


    #bandeira{
        height: 1000px;
        background-attachment: fixed;
        
    }

    @keyframes zoomBandeira {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
    }

    #sobre{
        padding: 80px;
    }

    #conteudo-sobre{
    width: 40%;
    }

    #container-valores{
        flex-direction: row-reverse;
    }

    .valor-txt{
    width: 500px;
    }

    #container-valores > h2{
    font-size: 4em;
    width: 30%;
    
    }
    
    .ponto-tempo p {
    flex-grow: 1; 
    }

    #areas-sessao h2{
    font-size: 2.5em;
    }

    #sessao-servicos h2{
    font-size: 2.5em;
    }

    /* PÁGINA SOBRE */

    #introducao-quem-somos{
  padding: 200px 0;

    }

    #conteudo-introducao #txt-introducao{
    width: 50%;

    }



@media(min-width:1778px){
    .oculto{
    display: none;
}
}
}

@media(min-width:990px) and (max-width: 1280px){
     @keyframes zoomBandeira {
    0% {
        background-size: 130%;
    }
    50% {
        background-size: 140%;
    }
    100% {
        background-size: 130%;
    }
    }
}

@media(min-width:990px) and (max-width: 1660px){
    #linha-do-tempo{
        max-width:90%;
        gap: 50px 200px;
    }
}
